{% extends 'EdGeniusApp/base_instructor.html' %}
{% block title %}
Attendance
{% endblock %}
{% block body_block %}
<div class="container mt-5">
    <h1>Attendance for {{ course_name }}</h1>
    <h2 class="mt-5">Student List</h2>
</div>
<div class="container mt-2">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th style="text-align: center;">Action</th>
            </tr>
            </thead>
            <tbody>
            <form action="{% url 'EdGeniusApp:student_attendance' course_name %}" method="post">
                {% for student in student_list %}
                    <tr>
                        <td>{{ student.firstname }}</td>
                        <td>{{ student.lastname }}</td>
                        <td>{{ student.email }}</td>
                        <td style="text-align: center;">
                            <a href="#editEmployeeModal-{{ forloop.counter }}" class="edit" data-toggle="modal"
                            ><i
                                    class="bi bi-check-circle"
                                    data-toggle="tooltip"
                                    title="Delete"
                                    style="font-size: 1.5rem; text-align: center"
                            ></i
                            ></a>

                        </td>
                    </tr>
                {% endfor %}
            </form>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal-->
{% for i in student_list %}
    <div id="editEmployeeModal-{{ forloop.counter }}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{% url 'EdGeniusApp:student_attendance' course_name %}" , method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h4 class="modal-title">Attendance</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label style="text-align: left">First Name</label>
                            <input name="firstname" readonly value="{{ i.firstname }}" type="text"
                                   class="form-control" required>
                        </div>
                        <div class="form-group mt-2">
                            <label style="text-align: left">Last Name</label>
                            <input name="lastname" readonly value="{{ i.lastname }}" type="text"
                                   class="form-control" required>
                        </div>
                        <div class="form-group mt-2">
                            <label>Email</label>
                            <input name="email" readonly value="{{ i.email }}" type="email" class="form-control" required>
                        </div>

                        <div class="form-group mt-2">
                            <label>Attendance</label>
                            <select name = "attendance" class="form-select " aria-label=".form-select-lg example">
                                <option value="present">Present</option>
                                <option value="absent">Absent</option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-info" value="Update">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
