{% extends 'EdGeniusApp/base.html' %}
{% block title %}
    EdGenius
{% endblock %}
{% load static %}

{% block body_block %}
<div class="main-body">
    <div class="upper-container">
       
        <img id="index2" src="{% static 'index2.svg' %}" style="width: 25rem;">
    </div>
    <br>
    <div class="lower-container"  style="width: 50rem; margin-left: 20%; font-size: 1.5rem;">
        <h1>EdGenius</h1>
        <p>Welcome to our cutting-edge web platform designed to foster interactive and immersive learning experiences for students across diverse subjects. Our user-friendly application not only facilitates skill development but also serves as a comprehensive tool for teachers to efficiently manage their courses and students.

        </p>
    </div>
</div>
{% endblock %}
