{% extends 'EdGeniusApp/base.html' %}
{% block title %}
    EdGenius
{% endblock %}
{% load static %}

{% block body_block %}
<div class="main-body">
    <div class="upper-container">
       
        <img id="index2" src="{% static 'index2.svg' %}">
    </div>
    <div class="lower-container">
        <h2>EdGenius</h2>
        <p>EdGenius is a web application that helps students to learn and practice their skills in different subjects. It also helps teachers to create and manage their courses and students.</p>
    </div>
</div>
{% endblock %}
