{% extends 'EdGeniusApp/base_instructor.html' %}
{% block title %}
Home
{% endblock %}

{% block body_block %}
<h1> Howdy Professor</h1>
<a href="{% url 'EdGeniusApp:add_course' %}" class="btn btn-outline-light me-1" style="background: #3F88C5">Create New Course</a>

        {% if course_list %}
            <br>
            <br>
        <h2> Course List</h2>

        <!-- <a href="{% url 'EdGeniusApp:add_course' %}" class="btn btn-primary">Create New Course</a> -->
        <br>
        <br>
          <div class="card-container">

        {% for course in course_list %}
        <div class="cards-collection">
            <div class="card text-white bg-dark mb-3" style="width: 18rem; height:25rem">
                <img class="card-img-top" src="http://127.0.0.1:8000/{{course.course_image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{course.course_name}} ({{course.course_tag}})</h5>
                    <p class="card-text">{{course.description}}</p>
                    <p class="card-text">Instructor Name: {{course.instructor}}</p>

                    <!-- <a href="http://127.0.0.1:8000/{{course.course_pdf}}" class="btn btn-primary">pdf</a> -->
                    {% if course.slug %}
                    <a href="{% url 'EdGeniusApp:course_detail' course.slug %}" class="btn btn-outline-light me-1" style="background: #3F88C5">Open Course</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}

        {% endif %}
    </div>
    <style>


    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


    }
   .cards-collection{
      margin: 1rem;
    }

    /* Add any other styling you need */
</style>
{% endblock %}
