{% extends 'EdGeniusApp/base.html' %}

{% block title %}
Home
{% endblock %}

{% block body_block %}
<h1> Hello Student</h1>


        {% if course_list %}
       
        <h2> Course List</h2>
        
        
          <div class="card-container">
            
        {% for course in course_list %}
        <div class="cards-collection">
            <div class="card text-white bg-dark mb-3" style="width: 18rem; height:25rem">
                <img class="card-img-top" src="http://127.0.0.1:8000/{{course.course_image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{course.CourseName}} ({{course.course_tag}})</h5>
                    <p class="card-text">{{course.description}}</p>
                    <p class="card-text">{{course.instructorName}}</p>
                    <!-- <a href="http://127.0.0.1:8000/{{course.course_pdf}}" class="btn btn-primary">pdf</a> -->
                    <a href="{% url 'EdGeniusApp:course_detailStudent' course.slug %}" class="btn btn-primary">Open Course</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}

        {% endif %}
    </div>


<style>
    

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
       
    }
   .cards-collection{
      margin: 1rem;
    }

    /* Add any other styling you need */
</style>
{% endblock %}
